.card {
    display: flex;
    flex-direction: column;
    padding-left: 30px!important;
    padding-right: 30px!important;
    width: 23vw;
}

.card > img {
    height: 50vh;
    width: 25vw;
}

.card_info > h2 {
    color: #003e7b;
    font-size: 18px;
}



