.section_info {
    background-color: #ffffff;
    padding: 20px 50px 10px 50px;
}

.section_header {
    color: #003e7b;
    font-size: 38px; 
    font-weight: 600;
    text-transform: capitalize!important;
    text-align: left!important;
    margin-left: 80px!important;
    display: block!important;
    border-bottom: rgba(0, 62, 123, 0.1) 1px solid!important;
 }
    
.section_info_card {
    display:flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.section_button {
    text-align: right!important;
    margin-right: 80px!important;
} 

.section_button > button {
    color: white;
    background-color: #003e7b;
    text-transform: uppercase;
    font-size: 15px; 
    font-weight: 200;
    color: white;
    height: 50px;
    width: 250px;
}

.section_act {
    background-color: #ffffff;
    padding: 20px 50px 10px 50px;
}

.section_act_card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
